body, html {
    background-color: #fafafa;
    color: #212121;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
    width: 100%;
}

h2, .-h2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    margin: 12px 0px 48px 0px;
}

h3, .-h3 {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin: 12px 0px 48px 0px;
}

section {
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

section.-hide {
    opacity: 0;
    transform: translateY(40px);
}

.-colored {
    color: #f44336
}

.-rale {
    font-family: 'Raleway', sans-serif;
}

.card {
    background-color: #fff;
    margin: 12px;
    padding: 6px;
    width: calc(100% - 36px);
}

.card--rounded {
    border-radius: 12px;
}

.centerizer {
    display: table;
}

.centerizer--full {
    height: 100%;
    width: 100%;
}

.centerizer-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.shadow {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

#sec0 .sec-content {
    display: inline-block;
}

#sec0 h1 {
    font-size: 60px;
    margin: 12px 0px;
}

#sec0 h1.title-o {
    text-transform: uppercase;
}

#sec0 h1.title-s {
    font-weight: 300;
    letter-spacing: 12px;
}

#sec1 a {
    background-color: #ff1744;
    border-radius: 36px;
    color: #fafafa;
    font-weight: 600;
    padding: 12px;
    text-decoration: none;
}

#sec1 a i {
    padding-right: 3px;
    vertical-align: middle;
}

#sec2 i {
    color: #757575;
    display: block;
}

#sec2 #cash {
    font-size: 42px;
}

#sec2 #cash.animating {
    animation: cash-down 1.2s ease-out infinite, cash-fade 1.2s infinite;
}

#sec2 #wallet {
    background-color: #fafafa;
    font-size: 72px;
    transform: translateY(60px);
}

#sec3 .card {
    padding: 3px 24px;
    text-align: left;
    margin: 12px auto;
    max-width: 300px;
    width: calc(100% - 72px);
}

#sec3 .card i {
    font-size: 36px;
    margin-right: 12px;
    vertical-align: middle;
}

#sec3 #card0, #sec3 #card1, #sec3 #cart #prod0, #sec3 #cart #prod1 {
    opacity: 0;
}

#sec3 #card0.animating {
    animation: card0 2.4s ease-out 0.6s infinite;
}

#sec3 #card1.animating {
    animation: card1 2.4s ease-out 0.6s infinite;
}

#sec3 #cart i {
    color: #757575;
    font-size: 36px;
    display: block;
}

#sec3 #cart #prod0.animating {
    animation: prod0 2.4s ease-out 0.6s infinite;
}

#sec3 #cart #prod1.animating {
    animation: prod1 2.4s ease-out 0.6s infinite;
}

#sec3 #cart #cart-icon {
    font-size: 84px;
}

#sec3 #cart #cart-icon {
    font-size: 84px;
}

@-webkit-keyframes cash-down {
    0% {
        transform: translateY(-72px);
    }
    100% {
        transform: translateY(-12px);
    }
}

@keyframes cash-down {
    0% {
        transform: translateY(-72px);
    }
    100% {
        transform: translateY(-12px);
    }
}

@-webkit-keyframes cash-fade {
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cash-fade {
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes card0 {
    0% {
        opacity: 0;
        transform: translateY(-12px);
    }
    50%, 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes card0 {
    0% {
        opacity: 0;
        transform: translateY(-12px);
    }
    50%, 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes card1 {
    0%, 50% {
        opacity: 0;
        transform: translateY(-12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes card1 {
    0%, 50% {
        opacity: 0;
        transform: translateY(-12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes prod0 {
    0% {
        opacity: 0;
        transform: translateY(36px);
    }
    50%, 100% {
        opacity: 1;
        transform: translateY(84px);
    }
}

@keyframes prod0 {
    0% {
        opacity: 0;
        transform: translateY(36px);
    }
    50%, 100% {
        opacity: 1;
        transform: translateY(84px);
    }
}

@-webkit-keyframes prod1 {
    0%, 50% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(48px);
    }
}

@keyframes prod1 {
    0%, 50% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(48px);
    }
}